body {
}

#headline {
    margin-bottom: -0.7em;
}

#countline {
}

#countInfo {
    margin-left: 1em;
    margin-top: -1em;
}

.invisible {
    display: none;
}

#queryMode {
    background-color: chocolate;
    padding: 5px;
}

.filterArea {
    background-color: lightcyan;
}

.seriesFilter {
    clear: both;
    background-color: pink;
}

.rentFilter {
    background-color: darkorange;
}

.pageSize {
    background-color: aqua;
}

.recordingTable {
    background-color: lightgoldenrodyellow;
}

.pageButtons {
    background-color: peru;
}

.pageButtonSelected {
    font-weight: bold;
}

.disabledOption {
    text-decoration: line-through;
}

.sortIndicator {
    float: left;
    margin-left: -0.1em;
}

#busyIndicator {
    float: right;
    margin-left: -0.1em;
}

.editNavigation {
    background-color: cyan;
}

.editForm {
    background-color: darkseagreen;
}

.editLabel {
    min-width: 10em;
    vertical-align: top;
}

.genreEdit {
    background-color: gold;
}

.languageEdit {
    background-color: aquamarine;
}

.seriesEdit {
    background-color: lemonchiffon;
}

.containerEdit {
    background-color: sandybrown;
}

.editSelector {
    vertical-align: top;
    width: 100%;
}

.editSelectorEdit {
    vertical-align: top;
}

.containerParentEdit {
    input[type=text] {
        margin-left: 10px;
    }
}

#recordingEditLocation {
    margin-left: 5px;
}

.validationError {
    border: 2px solid red;
}

.dialog {
    background-color: whitesmoke !important;
}

.dialogButtons {
    margin-top: 40px;

    a:last-of-type {
        float: right;
    }
}

#gotoQuery {
    float: right;
}

.ui-dialog-titlebar-close {
    visibility: hidden;
}

.deleteConfirm {
    border: 2px solid red;
    color: red !important;
}

.descriptionEdit {
}

.seriesTree {
    width: 80%;
    min-height: 50px;
    max-height: 400px;
    overflow-y: scroll;
}

.treeNode {
    margin-left: 1em;
}

.nodeInTree {
}

.leafInTree {
}

@filterAccordionFont: small;
@filterAccordionWeight: bold;
@filterAccordionContentPadding: 2px 5px 5px 5px;
@filterAccordionContentMargin: 10px;
@filterAccordionContentWidth: 17.5em;
@filterAccordionContentFont: small;
@filterAccordionLabelPadding: 2px;

// Die Auswahl der Kategorien für die Suche

#genreFilter, #languageFilter, #seriesFilter {
    margin-left: @filterAccordionContentMargin;
    padding: @filterAccordionContentPadding !important;
}

.filterCollapsable {
    h3 {
        font-weight: @filterAccordionWeight;
        font-size: @filterAccordionFont;
    }

    label {
        font-size: @filterAccordionContentFont !important;
        margin-right: @filterAccordionContentMargin !important;
        width: @filterAccordionContentWidth;
        padding: @filterAccordionLabelPadding;
    }
}
