body {
}

#headline {
    margin-bottom: -0.7em;
}

#countline {
}

#countInfo {
    margin-left: 1em;
    margin-top: -1em;
}

.invisible {
    display: none;
}

#queryMode {
    padding: 5px;
}

.filterArea {
}

.recordingTable {
    background-color: lightgoldenrodyellow;
}

.pageButtons {
    padding-top: 5px;

    a {
        width: 3em;
    }
}

.pageButtonSelected {
    font-weight: bold;
}

.disabledOption {
    text-decoration: line-through;
}

.sortIndicator {
    float: left;
    margin-left: -0.1em;
}

#busyIndicator {
    float: right;
}

.editNavigation {
    background-color: cyan;
}

.editForm {
    background-color: darkseagreen;
}

.editLabel {
    min-width: 10em;
    vertical-align: top;
}

.genreEdit {
    background-color: gold;
}

.languageEdit {
    background-color: aquamarine;
}

.seriesEdit {
    background-color: lemonchiffon;
}

.containerEdit {
    background-color: sandybrown;
}

.editSelector {
    vertical-align: top;
    width: 100%;
}

.editSelectorEdit {
    vertical-align: top;
}

.containerParentEdit {
    input[type=text] {
        margin-left: 10px;
    }
}

#recordingEditLocation {
    margin-left: 5px;
}

.validationError {
    border: 2px solid red;
}

.dialog {
    background-color: whitesmoke !important;
}

.dialogButtons {
    margin-top: 40px;

    a:last-of-type {
        float: right;
    }
}

#gotoQuery {
    float: right;
}

.ui-dialog-titlebar-close {
    visibility: hidden;
}

.deleteConfirm {
    border: 2px solid red;
    color: red !important;
}

.descriptionEdit {
}

.pageSize {
    padding: 5px 0px;

    .ui-button-text {
        font-size: small;
    }
}

.textfilter {
    span:first-child {
        font-weight: bold;
    }

    .ui-button-text {
        font-size: small;
    }

    .queryToEditButtons {
        margin-bottom: 5px;
        float: right;
    }
}

@filterAccordionFont: small;
@filterAccordionWeight: bold;
@filterAccordionContentPadding: 2px 5px 5px 5px;
@filterAccordionContentMargin: 10px;
@filterAccordionContentWidth: 15em;
@filterAccordionContentFont: small;
@filterAccordionLabelPadding: 2px;

@seriesMinHeight: 5em;
@seriesMaxHeight: 16em;
@seriesIndent: 1em;
@seriesHoverColor: lightblue;
@seriesSelectColor: dodgerblue;

.seriesTree {
    width: 90%;
    min-height: @seriesMinHeight;
    max-height: @seriesMaxHeight;
    overflow-y: scroll;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.treeNodeHeader {
    div.ui-icon {
        margin-left: -3px;
        margin-top: 1px;
        float: left;
    }
}

.treeNode {
    font-size: @filterAccordionContentFont;
    margin-left: @seriesIndent;
}

.treeItem {
    font-size: @filterAccordionContentFont;
}

.treeItem:hover {
    background-color: @seriesHoverColor;
}

.treeItem.nodeSelected {
    background-color: @seriesSelectColor;
}

// Die Auswahl der Kategorien für die Suche

.filterCollapsable, .rentFilter, .languageFilter, .genreFilter {
    clear: both;
    margin: 5px 0px 5px 20px;

    .ui-accordion-content {
        margin-left: @filterAccordionContentMargin;
        padding: @filterAccordionContentPadding;
    }

    h3 {
        font-weight: @filterAccordionWeight;
        font-size: @filterAccordionFont;
    }

    label {
        font-size: @filterAccordionContentFont !important;
        margin-right: @filterAccordionContentMargin !important;
        width: @filterAccordionContentWidth;
        padding: @filterAccordionLabelPadding;
    }
}
